<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chatroom</title>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


</head>


<body>

    <h1>Chatter Box!!</h1>


    <div id="chatbox">
        <input id="msg" type="text">
        <button onclick="sendmsg()">Send Msg</button>
    </div>
    <div>
        <p>
            Welcome {{username}}
        </p>
        <a href="{% url 'logout_form' %}">logout</a>
    </div>
    <div id="chatdiv">

    </div>


    <script>
        socket = new WebSocket("ws://" + window.location.host + "/chat/");

        socket.onmessage = function(e) {
            $("#chatdiv").append("<p>" + e.data + "</p>");
            console.log(e, e.data);
        }






        function sendmsg() {
            msg = $('#msg').val();
            socket.send(msg);
            $('#msg').val('');
        }
    </script>


</body>

</html>